<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="elmah" version="1.2.2" targetFramework="net45" />
  <package id="elmah.corelibrary" version="1.2.2" targetFramework="net45" />
  <package id="Microsoft.AspNet.Mvc" version="4.0.20710.0" targetFramework="net45" />
  <package id="Microsoft.AspNet.Mvc.FixedDisplayModes" version="1.0.0" targetFramework="net45" />
  <package id="Microsoft.AspNet.Razor" version="2.0.20715.0" targetFramework="net45" />
  <package id="Microsoft.AspNet.WebApi" version="4.0.20710.0" targetFramework="net45" />
  <package id="Microsoft.AspNet.WebApi.Client" version="4.0.20710.0" targetFramework="net45" />
  <package id="Microsoft.AspNet.WebApi.Core" version="4.0.20710.0" targetFramework="net45" />
  <package id="Microsoft.AspNet.WebApi.WebHost" version="4.0.20710.0" targetFramework="net45" />
  <package id="Microsoft.AspNet.WebPages" version="2.0.20710.0" targetFramework="net45" />
  <package id="Microsoft.Net.Http" version="2.0.20710.0" targetFramework="net45" />
  <package id="Microsoft.Web.Infrastructure" version="1.0.0.0" targetFramework="net45" />
  <package id="Microsoft.Web.Xdt" version="2.1.1" targetFramework="net45" />
  <package id="MsBuild.NuGet.Pack" version="1.4.0" targetFramework="net45" developmentDependency="true" />
  <package id="Newtonsoft.Json" version="4.5.11" targetFramework="net45" />
  <package id="Ninject" version="3.0.1.10" targetFramework="net45" />
  <package id="NuGet.Core" version="2.8.3" targetFramework="net45" />
  <package id="NuGet.Server" version="2.8.3" targetFramework="net45" />
  <package id="RouteMagic" version="1.2" targetFramework="net45" />
  <package id="TC.NuGet.Pack.All" version="1.0.1.5" targetFramework="net45" developmentDependency="true" />
  <package id="TC.NuGet.Pack.Project" version="1.0.1.4" targetFramework="net45" developmentDependency="true" />
  <package id="WebActivatorEx" version="2.0.2" targetFramework="net45" />
</packages>